/* Core Components */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}
section { 
    display:inline-block;
}

img {
    margin: 10px auto auto auto;
}
a { color: inherit; }

/* Site Header and Menu */
header, .siteHeader, nav {
    padding: 10px 100px;
}
.menuBar {     
    background-color:#298ECB;
    min-height:60px;
}

.menuBar > a, .menuBar > div {
	display: 		inline-block;
    height: 		40px;
    padding: 		10px;
	color:#ffffff;
	line-height:	40px;
    width: 100px;
}

.menuBar .active {
    cursor: default;
    font-weight: bold;
}
.menuBar a {
	color:#ffffff;	
	text-decoration:none;
}
.menuBar a:hover {
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    header.siteHeader, nav {
        padding: 10px 20px;
    }
}
.fixHeader {
    position: fixed;
    width:100%;
    top:0;
}

/* Main Section */
section#main {
    margin: 30px 100px 0;
}


/* Third Width Content: Homepage */
.thirdWidth {
    width: calc((100% - 40px)/3);
    float: left;
    display: inline-block;
    margin-right: 20px;
    box-shadow: 2px 2px 27px rgba(50,50,50,0.4);
}

.thirdWidth:last-child {
	margin-right:0;	
}


/* Article */
article header {
    background-image: url('http://bg.siteorigin.com/image/generate?color=%236363a8&pattern=black-Linen&blend=53&intensity=8.00&noise=0');
    padding: 10px 10%;
    height:auto;
    min-height: 100px;
    background-attachment: fixed;	
}

section.blurb {
    padding: 20px;
    min-height:200px;
}

article footer {
    padding: 11px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 3px 3px 9px rgba(37,37,37,0.8);
    background-color: crimson;
    text-align: center;
    color: #fff;
}

article footer a {
    text-decoration: none;
    color: #ffffff;
}

article footer:hover {
            box-shadow: inset 3px 3px 9px rgba(37,37,37,0.8);
}


/* Theme */
.theme1 article footer {
	background-color: #BE3A4B;
}
.theme1 article header {
	    background-image: url('http://bg.siteorigin.com/image/generate?color=%BE3A4B&pattern=black-Linen&blend=53&intensity=8.00&noise=0');
}



