body {
	font-family: 	Arial, Helvetica, sans-serif;
    margin:0;
}
section {
    display:inline-block;
}
img {
    margin: 10px auto auto auto;
}
header, nav, article {
    padding: 10px 100px;

}

@media screen and (max-width: 480px) {
    header, nav, article{
        padding: 10px 20px;
    }
}

.fullWidth {
    background-image: url('http://bg.siteorigin.com/image/generate?color=%236363a8&pattern=black-Linen&blend=53&intensity=8.00&noise=0');
    padding: 10px 10%;
    box-shadow: inset 3px 3px 9px rgba(37,37,37,0.8);
    height:auto;
    min-height: 100px;
    background-attachment: fixed;
    margin: 10px -100px;
}
.menuBar {     
	background-color:#298ECB;
    min-height:60px;
}

.menuBar > a, .menuBar > div {
	display: 		inline-block;
    height: 		40px;
    padding: 		10px;
	color:#ffffff;
	line-height:	40px;
    width: 100px;
}

.menuBar .active {
    cursor: default;
    font-weight: bold;
}
.menuBar a {
	color:#ffffff;	
	text-decoration:none;
}
.menuBar a:hover {
    font-weight: bold;
}


.blockWidthContent h2 {
    font-size: x-large;
    letter-spacing: 11px;
    text-transform: uppercase;
}

.blockWidthContent {
text-shadow: 3px 3px 9px rgba(37,37,37,0.8);
    color: #fff;
    text-align: center;
width:60%;
margin:auto;
}

.blockWidthContent p.intro {
line-height: 1.5;
    letter-spacing: 0.5px;
}

section#main {
    margin-top:30px;
}

section#introduction img {
    float:right;
}

.moreInfo {
display: inline-block;
    padding: 11px;
    min-width: 140px;
    color: #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
text-shadow: 3px 3px 9px rgba(37,37,37,0.8);
}
.moreInfo:hover {
            box-shadow: inset 3px 3px 9px rgba(37,37,37,0.8);

}

.crimson {
        background-color: crimson;

}

.fixHeader {
    position: fixed;
    width:100%;
    top:0;
}